*{
  margin: 0px;
  padding: 0px;
  /*outline: 3px black solid;*/
}
.window{
  width: 1300px;
  height: 720px;
  position: relative;
  margin: auto;
  margin-top: 8px;
}

#pokemonDiv{
  position: absolute;
  display: inline-block;
  height: 200px;
  width: 200px;
  bottom: 63px;
  left: 650px;
  /*border: 3px green solid;*/
}

#human{
  display: inline-block;
  height: 130px;
  width: 100px;
  margin-left: 50px;
  position: absolute;
  bottom: 130px;
  right: 750px;
  /*border: 3px black solid;*/
}

.displayBox{
  width: 550px;
  height: 35px;
  margin: auto;
  position: absolute;
  bottom: 10px;
  left: 375px;
}

.displayHeight{
position: absolute;
height:80px;
width:75px;
top: 500px;
left: 70px;
}

.displayHeightBox{
  position: relative;
  height: 30px;
  width: 70px;
  top: 10px;
  left: 10px;
  font-size: 12;
  border: 3px solid black;
}

#displayHeightBox2{
  position: relative;
  height: 20px;
  width: 70px;
  top: 20px;
  left: 10px;
  text-align: center;
  border: solid 3px black;
}

.displayPokemon{
position:absolute;
top: 500px;
right: 50px;
height: 80px;
width: 175px;
}

.displayPokemonBox{
  position: absolute;
  height: 30px;
  width: 120px;
  top: 10px;
  left: 10px;
  border: solid 3px green;
}

#displayPokemonBox2{
  position: relative;
  height: 20px;
  width: 120px;
  top: 50px;
  left: 10px;
  text-align: center;
  border: solid 3px green;
}
