<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script type = "text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type = "text/javascript"  src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="angularscript.js"> </script>
  <script type="text/javascript" src="movediv.js"></script>
  <link rel="stylesheet" type="text/css" href="movediv.css">
  <link type="text/css" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
  <title> PokeAPI Project </title>
</head>
  <body>

<div class="window">
  <div class="pokewindow">
    <div class="display"> </div>
    <p class="explainpara"> Enter all your information in the boxes directly below and press Submit! </p>
    <img class="pokee" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/289.png" alt="slaking">
    <form id="myForm" ng-app="pokeapp" ng-controller="controller" action="http://localhost:8080" method="get">
    <img class="human" src="kevindurant.jpg" alt="Human Image">
    <input name="image" class="imageinput" name="image" ng-model="image" required my-directive>
    <span class="errorimage" ng-show="myForm.image.$invalid">Valid Image File required.</span>
    <input type="number" class="heightone" name="user"  ng-model="user" required>
    <span style="color:red" ng-show="myForm.user.$invalid">
    </span>
    <span class="meterheight"> meters </span>
    <input class="pokemoninput" name="pokemon" ng-model="pokemon" required>
  <span class="errorpoke"> Input a valid Pokemon </span>
    <div class="pokemenubar">
      <div class="pokemenu">
 <ul id = "menu-1">
     <li class="imagefile"><a href = "#">Image File </a> </li>
<li class="heightclass"><a href = "#">Height </a>
  <ul>
    <li class="metersfile"><a href = "#">Meters</a> </li>
    <li class="inchesfile"><a href = "#">Inches</a></li>
  </ul>
</li>
     <li class="pokemonimage"> <a href="#"> Pokemon </a> </li>
       <li class="submitimage"> <a href="#"> Submit! </a> </li>
</ul>
</form>
      </div>
    </div>
    <div class="sqlbar"> </div>
    <button class="byDate" type="button"> Last Five Submissions </button>
    <input class="byPokemon" type="text" placeholder="Submissions of particular pokemon">
  </div>

<div class="leftpic">
    <p class="image2border">&#x2192;</p>
  <div class="KButton"> </div>
   <div class="leftpicpara">
     <p class="paraone"><br> <br> <br> <br> <br> <br> For this project, a user enters their height as well as the name or the ID number of a particular pokemon. The app will retrieve a JSON file from the<a href="https://pokeapi.co/"> PokeAPI</a>  and parse the JSON file, finding the height and an image file of the Pokemon. Based off of the proportion of the user and the pokemon's height, a scale illustration will be shown of the user and the pokemon. The data of the submissions will be sent via a NodeJS server to a MySQL database. Users will be able to access this database in two different ways.</p>

   </div>
</div>

<div class="rightpic">
  <p class="infofirstsecond"> This website was designed solely by myself using JQuery, JQueryUI, and AngularJS. No external templates were used. Over 400 lines of CSS and 700 lines of JavaScript are on display!</p>
<button class="imagearrow"> </button>
<p class="imagearrowbox">&#x2192; </p>
<div class="rightpicpara">
  <p class="bodypost"> <br> <br> <br> <br> <br> <br> Click on any of the buttons on the left to find out more about me! Then click the arrow to move on
  to the next page! </p>
  <button class="passionateheading"> Passionate</button>
  <button class="quicklearnerhead"> Motivated</button>
  <button class="educationhead"> Quick Learner</button>
  <button class="educationh"> Education</button>
  <p class="passionate"> </p>
  <p class="quicklearner"> </p>
  <p class="education"> </p>
  <p class="title"> Mayank Bapna</p>
</div>
</div>
</div>

  </body>
</html>
